<html>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/base.css') }}">
<link rel="icon" href="{{ url_for('static', filename='images/logo2.png') }}" type="image/x-icon">
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {% block content %} {% endblock %}
</head>
<body>
<header>
    <a class='cta' href="{{url_for('main')}}" ><span></span>
        <span></span>
        <span></span>
        <span></span>
        <center>
        <img class="logo" src="/static/images/logo2.png">
            Home
        </center>
    </a>

    <nav>
        <ul class="nav_links" style="white-space:nowrap;">
            <li><a href="">Crypto Charts</a></li>
            <li><a href="">News</a></li>
            <li><a href="">Services</a></li>
            <li><a href=""">Portfolio</a></li>
            <li><a href="">Learn</a></li>
        </ul>
    </nav>
    <a class="cta" href="">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Login
    </a>
</header>
<hr/>
{% block body %} {% endblock %}
</body>
</html>