
body {
    background:#03040e;
    color:#fff;
    width:100%;
    font-family:"Montserrat", sans-serif;
}

/* register.css */
.register-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 120px); /* Assuming header and footer heights total to 120px */
}

.form-container {
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 400px; /* Set a max-width if you want to limit how wide the form can get */
    margin: auto; /* This will center the div if it has a max-width */
}


.form-section {
    margin: 0 20px; /* Adds horizontal margin to each form section */
}


/* Add any additional styles you need for the register page here */
form {
    background: #12151a; /* Lighter shade */
    border-radius: 5px;
    width: 300px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
p {
    margin-bottom: 20px;
}
input, button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}
.form-error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}
a {
    color: #edf0f1;
    text-decoration: none;
    display: block; /* Make it take the full width */
    text-align: center; /* Center the text */
    margin-top: 20px; /* Space from the submit button */
}
a:hover {
    color: rgba(200,216,199,1);
}
