<html>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/base.css') }}">
<link rel="icon" href="{{ url_for('static', filename='images/logo2.png') }}" type="image/x-icon">
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {% block content %} {% endblock %}
</head>
<body>
<header>
    <a class='cta' href="{{url_for('home')}}" ><span></span>
        <span></span>
        <span></span>
        <span></span>
        <img class="logo" src="/static/images/logo2.png">
            Home
    </a>

    <nav>
        <ul class="nav_links" style="white-space:nowrap;">
            <li><a href="crypto/1/Bitcoin">Crypto Charts</a></li>
            <li><a href="{{url_for('news')}}">News</a></li>
            <li><a href="{{url_for('services')}}">Services</a></li>
            <li><a href="{{url_for('portfolio')}}">Portfolio</a></li>
            <li><a href="{{url_for('contacts')}}">Contact</a></li>
        </ul>
    </nav>
    {% if current_user.is_authenticated %}
        <a class="cta" href="{{url_for('logout')}}">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Logout
        </a>
    {% else %}
        <a class="cta" href="{{url_for('login')}}">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Login
        </a>
    {% endif %}
</header>
<hr/>
<!--TICKER TAPE START-->
<div class="tickertape-container" style="background-color:#050612">
    <div class="tickertape-container__widget"></div>
    <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js"
            async>
        {
        "symbols": [
          {"proName": "BITSTAMP:BTCUSD",
            "title": "BTC/USD"},
          {"proName": "BITSTAMP:ETHUSD",
            "title": "ETH/USD"},
          {"description": "ADA/USDT",
            "proName": "BINANCE:ADAUSDT"},
          {"description": "MATIC/USDT",
            "proName": "BINANCE:MATICUSDT"},
          {"description": "BNB/USD",
            "proName": "BINANCE:BNBUSD"}
        ],
        "showSymbolLogo": true,
        "colorTheme": "dark",
        "isTransparent": true,
        "displayMode": "adaptive",
        "locale": "en"
      }


    </script>
</div>
<!--TICKER TAPE ENDS-->
{% block body %} {% endblock %}
</body>
</html>